#chk__menu {
  display: none;
}

#chk__menu:checked ~ .entete__nav {
  display: flex;
  flex-direction: column;
    // ul
  .entete__menu {
    flex-direction: column;
    & a {
      background-color: transparent;
      color: white;
    }
  }
}

.entete {
  background-color: rgba(0, 0, 0, 0.747);
  padding: 10px;
  //padding: 15px;
  

  &__contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    h3 {
      color: white;
      font-weight: 400;
    }   

  }

  &__div-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }

  &__logo {
    width: 75px;
    height: 75px;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid white;
  }

  /*------------------------------------- Navigation */
  &__nav {
    display: flex;
    flex-wrap: wrap;
   // margin: 0 2rem 0 2rem;    
    //align-items: center;
    justify-content: space-between;
    //padding-right: 20px;

    
    &:focus {
      background-color: #47b5ff;
    } 

    @media screen and (max-width: $point-rupture) {
      display: none;
      justify-content: flex-end;
    }
  }

  &__burger {
    display: none;
    @media screen and (max-width: $point-rupture) {
      display: block;
      cursor: pointer;
    }
  }

  &__menu {
    /* ul */
    display: flex;
    list-style: none;
    gap: 1rem;
  }

  &__menu-item {
    /* li */
    margin-left: auto;

    a {
      background-color: rgb(255, 255, 255);
      padding: 8px 22px;
      border-radius: 30px;
      color: rgba(0, 0, 0, 0.829);
      text-decoration: none;
      font-size: 18px;
      font-family: Quicksand;
      &:hover {
        background-color: #47b5ff;
        color: rgba(255, 255, 255);
      }
      &:active {
        background-color: rgb(71, 181, 255);
        color: rgba(255, 255, 255);
      }
    }
  }
}
