* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Mohave, sans-serif";
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.global {
  padding: 0;
  box-sizing: border-box;
  max-width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}

ul a {
  text-decoration: none;
  color: rgb(31, 104, 240);
  font-weight: 400;
  font-family: Quicksand;
  font-size: clamp(1.1rem, 1.6vw + -0.08rem, 1.7rem);
  line-height: 1.7rem;
}

ul {
  list-style: none;
}
