.hero {
  background-image: url(images/canyon.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;

  &__contenu {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 20px;

    @media screen and (max-width: $point-rupture) {
      margin-left: 0px;
      justify-content: center;
      padding: 10px;
      h1 {
        color: black;
      }
      &__description {
        max-width: 45ch;
      }
    }
    @media screen and (max-width: $point-ruptureSmall) {
      margin-left: 0px;
      justify-content: center;
      padding: 10px;
      h1 {
        color: black;
      }
      &__description {
        max-width: 35ch;
      }
    }
    @media screen and (max-width: $point-ruptureXSmall) {
      margin-left: 0px;
      justify-content: center;
      h1 {
        color: black;
      }
      &__description { 
        line-height: 0.9rem;
      }
    }
  }

  &__titre {
    color: white;
    font-weight: 500;
  }
  &__description {    
    font-size: clamp(1.1rem, .554vw + .9345rem, 1.35rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.541);
    color: black;
    padding: 20px;
    border-radius: 10px;
    font-family: Quicksand;
    font-weight: 500;
    line-height: 1.8rem;
    max-width: 80ch;
    gap: 40px;
    
    p {
      margin-top: 0px;
      margin-bottom: -10px;
    }
  }

  
  &__iconesContact {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
    gap: 5px; 
    margin-bottom: 20px;    
  }

  
  &__icone {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
      color: rgb(21, 21, 221);      
    }
  }  


  &__description-bouton-media {
    display: inline-flex;
    gap: 30px;
    &:hover  {
      cursor: pointer;
      fill: white;
    }
  }  


  &__description-bouton {
    background-color: rgb(71, 181, 255);
    width: fit-content;
    padding: 8px 22px;
    border-radius: 30px;
    border: 1px solid rgba(49, 49, 49, 0.596);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-family: Quicksand;
    &:hover {
      background-color: rgb(255, 255, 255);
      border-color: 1px solid rgb(71, 181, 255);
      color: rgb(0, 0, 0);
    }
  }
  &__description-media {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  &:hover svg {
    color: #ffffff;
  }
}
