.hero {
  background-image: url(images/pexels-alfonso-escalante-1319242-2832251.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  /*&__titre {
  }
  &__description {
  }*/
}
