.hero {
  background-image: url(images/canyon.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;

  &__contenu {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 80px;
    //flex-wrap: wrap;
    padding: 20px;

    @media screen and (max-width: $point-rupture) {
      margin-left: 0px;
      justify-content: center;
      gap: 20px;
      padding: 10px;
      h1 {
        color: black;
        margin-top: 50px;
      }
      &__description {
        max-width: 45ch;
        margin-bottom: 20px;
      }
    }
    @media screen and (max-width: $point-ruptureSmall) {
      margin-left: 0px;
      justify-content: center;
      gap: 20px;
      padding: 10px;
      h1 {
        color: black;
        margin-top: 20px;
      }

      &__description {
        max-width: 35ch;
        
      }
    }
    @media screen and (max-width: $point-ruptureXSmall) {
      margin-left: 0px;
      justify-content: center;
      gap: 20px;
      h1 {
        color: black;
        margin-top: 20px;
      }
      &__description {
        max-width: 25ch;
        font-size: 12px;
        line-height: 0.9rem;
        margin-bottom: 30px;
      }
    }
    
  }

  &__titre {
    font-weight: 400;
    color: white;
    font-weight: 500;
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    background-color: rgba(255, 255, 255, 0.541);
    color: black;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.8rem;
    max-width: 80ch;
    
    p {
      margin-top: 0px;
    }

  }

  &__description-bouton-media {
    display: inline-flex;
    gap: 30px;
  }

  &__description-bouton {
    background-color: rgb(71, 181, 255);
    width: fit-content;
    padding: 8px 22px;
    border-radius: 30px;
    border: 1px solid rgba(49, 49, 49, 0.596);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-family: Quicksand;
    &:hover {
      background-color: rgb(255, 255, 255);
      border-color: 1px solid rgb(71, 181, 255);
      color: rgb(0, 0, 0);
    }
  }
  &__description-media {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  &:hover svg{
    color: #FFFFFF;
  }
}
