.piedpage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.911);
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px 20px;
}

.piedpage p {
  font-family: Courgette;
  font-size: clamp(0.1rem, 1.3vw + 0.4rem, 1.3rem);
  font-weight: 300;
}
