.piedpage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.911);
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px 20px;
  
}

.piedpage p {
  font-family: Courgette;
  font-size: clamp(0.5rem, 1.65vw + 0.105rem, 1.15rem);
  font-weight: 300;
}
