.article {
    padding: 30px;
    div {
        border-radius: 8px;
        border: 1px solid rgba(201, 201, 201, 0.582);
        box-shadow: 0 0 14px rgba(197, 197, 197, 0.699);
        padding: 30px;
        margin-top: 50px;
    }

    img {        
        margin-bottom: 20px;
        border-radius: 5px;
    }

    p {
        margin-top: 20px;

    }
}