.bouton {
    background-color: rgb(71, 181, 255);
    width: fit-content;
    padding: 8px 22px;
    border-radius: 30px;
    border: 1px solid rgba(49, 49, 49, 0.596);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-family: Quicksand;
    &:hover {
      background-color: rgb(255, 255, 255);
      border-color: 1px solid rgb(71, 181, 255);
      color: rgb(0, 0, 0);
    }

    &__fonce {
        background-color: rgba(34, 34, 34, 0.877);
        width: fit-content;
        padding: 8px 22px;
        border-radius: 3px;;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 20px;
        font-family: Quicksand;
        &:hover {
            background-color: rgb(255, 255, 255);
            color: rgb(26, 26, 26);
            cursor: pointer;
        }
    }
  }