
  

  
.conteneur {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;

  ul a {
    text-decoration: none;
    color: rgb(24, 163, 255);
    font-weight: 400;
    font-family: Quicksand;
    font-size: clamp(1.1rem, 1.6vw + -0.08rem, 1.5rem);
    line-height: 1.7rem;
  }

  ul a:hover {
    color: rgb(0, 31, 97);
  }

  ul {
    list-style: none;
  }

  &__carte {
    display: flex;
    flex: 1 0 300px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(201, 201, 201, 0.582);
    box-shadow: 0 0 14px rgba(197, 197, 197, 0.699);

    & img {
      margin-top: -20px;
      max-width: 100%;
      height: auto;
      aspect-ratio: 5/3;
      object-fit: cover;
    }


  }
  &__galerie {
    flex: 1 0 100%;
  }
}

 