.infolettre {
    display: block;    
    padding: 20px;    

    h2 {
        font-weight: 400;
        text-align: center;
    }

    
    p {
        font-size: clamp(1.4rem, .554vw + .9345rem, 1.75rem);
        text-align: center;
        font-family: Quicksand;
        font-weight: 700;
    }

    input {
        padding: 10px;
        border: none;
    }

   &__formulaire {
        background-image: url(images/fond-bleu-ciel.jpg);
        background-size:cover;
        background-position: center;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        padding: 40px;
        gap: 40px;
        align-items: center;
        justify-content: center;
        border: 1px solid trasparent;
        border-radius: 5px;
        max-width: 800px;
        @media screen and (max-width: $point-rupture) {
            max-width: 500px;           
        }
        @media screen and (max-width: $point-ruptureSmall) {
            max-width: 400px;           
        }
        @media screen and (max-width: $point-ruptureXSmall) {
            max-width: 300px;           
        }
    }

    
    &__div {
        display: flex;
        flex-direction: row;
        gap: 20px;
        @media screen and (max-width: $point-rupture) {
            flex-direction: column;
            justify-content: center;
            align-self: center;
            padding: 10px;            
        }
    }
    
    &__label {
        font-family: Quicksand;
    }    
    
    &__input {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;                
    }

    &__bouton {
        background-color: rgba(34, 34, 34, 0.671);
        width: fit-content;
        padding: 8px 22px;
        border-radius: 3px;;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 20px;
        font-family: Quicksand;
        &:hover {
            background-color: rgb(255, 255, 255);
            color: rgb(26, 26, 26);
            cursor: pointer;
        }
    }

}


