/*
* Composant
*/

.recherche {
  display: flex;
  /*border: 1px solid grey;*/
  align-items: center;
  gap: 10px;

  &__input {
    width: 250px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 3px;
    font-family: Quicksand;
    font-size: 16px;
  }

  &__bouton {
    background-color: rgb(71, 181, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    &:hover {
      cursor: pointer;
      background-color: rgb(255, 205, 40);
      svg:hover {
        fill: black;
      }
    }
  }
}
