h1 {
  font-family: Courgette;
  font-size: clamp(3.5rem, 5.4795vw + 1.2rem, 5.5rem);
}
h2 {
  font-family: Courgette;
  font-size: clamp(1.7rem, 3.5vw + 1rem, 2.8rem);
}

h3 {
  font-family: Courgette;
  font-size: clamp(1.2rem, 2.8vw + 0.2rem, 2rem);
}
h4 {
  font-family: Courgette;
  font-size: clamp(0.7rem, 2vw + 0.105rem, 1.5rem);
}
h5 {
  font-family: Courgette;
  font-size: clamp(0.4rem, 1.8vw + -0.05rem, 1rem);
}
h6 {
  font-family: Courgette;
  font-size: clamp(0.2rem, 1.4vw + -0.02rem, 0.5rem);
}

.centre {
  text-align: center;
}